body {
    margin: 0;
}

nav img {
    width: 7em;
    height: auto;

	
}

nav {
    background-color: #3CAEA3;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
}

/* .nav_item {

}

#park_options {

}

#biz_options {

}

#eat_options {

} */

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;

    

}



aside {
    width: 20%;
    height: 20em;   
    background-color: #20639B;
}

/* .container {


} */

#park_preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F6D55C;
    color: black;
    width: 60%;
    height: 50%;
    margin: 2em;
    padding: 5em;
}

/* .container_details {
    
} */

.bizarreries_preview{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F6D55C;
    color: black;
    width: 60%;
    height: 50%;
    margin: 2em;
    padding: 5em;
}
#attraction_preview--details, .flip {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    background-color: #F6D55C;
    color: black;
    margin: auto;
  }
  #attraction_preview--details {
    display: none;
  }

.eateries_preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F6D55C;
    color: black;
    width: 60%;
    height: 50%;
    margin: 2em ;
    padding: 5em;
    
}

/* .save {

}

.save_preview {

} */

.itinerary {
    display: flex;
    
    align-content: flex-end;
    background-color: #20639B;
    margin-bottom: 100%;


}

/* #saved_itinerary {

} */



#eatery_preview--details, .flip {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    color: black;
    margin: auto;
  }
  
  #eatery_preview--details {
    display: none;
  }

  #container_details--eatery{
      background-color: rgb(239, 239, 239);
      color: black; 
      box-sizing: border-box;
      border-color: (rgb(118, 118, 118));

  }
footer {
    background-color: #3CAEA3;
    color: black;
    padding: 2em;
}